<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Witter</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/witter"><img id="logo" src="/assets/img/witter.png" alt="Witter logo" /></a>
    <div class="navlink">
      <a id="loginButton" href="/login">
        <div id="loginIcon"></div>
        Login
      </a>
    </div>
    <div class="navlink"><a id="signupButton" href="/signup">
        <div id="signupIcon"></div>
        Sign up
      </a>
    </div>
    <div class="navlink">
      <a href="/logout">
        <div id="logoutIcon"></div>
        Log out
      </a>
    </div>
    <div class="navlink right">
      <a id="accountButton" href="/account">
        <div id="accountIcon"></div>
        Account
      </a>
    </div>
  </nav>

  <div id="posts"></div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>