<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>User</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav id="navContainer">
  </nav>

  <section id="credits">
    <h1>Credits</h1>
    <p>Font: Nanum Gothic (<a href="https://fonts.google.com/specimen/Nanum+Gothic">
        https://fonts.google.com/specimen/Nanum+Gothic</a>)</p>
    <p>Ad Images: Lorem Picsum (<a href="https://picsum.photos/">https://picsum.photos/</a>)</p>
    <p>Inspirational Quotes: Type Fit (<a href="https://type.fit/api/quotes">https://type.fit/api/quotes</a>)</p>
    <p>Color Palette: Inverted Twitter colors based on U.S. Brand Colors (<a
        href="https://usbrandcolors.com/twitter-colors/">https://usbrandcolors.com/twitter-colors/</a>)</p>
    <p>Authentication Code: Adapted from DomoMaker (<a
        href="https://github.com/MajesticalMelon/DomoMakerD">https://github.com/MajesticalMelon/DomoMakerD</a>)</p>
  </section>

</body>

</html>