<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <title>Settings</title>
</head>

<body>
  <nav id="navContainer">
  </nav>

  <section id="content">
    <div></div>
    <section id="settingsContainer"></section>
    <div></div>
  </section>

  <script src="/assets/settingsBundle.js"></script>
</body>

</html>