@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  --primary: #e25e0d;
  --secondary: #ebe8e5;
  --beige: #9a8879;
  --dark-beige: #55473d;
  --extra-dark-gray: #1e1712;
  --black: #0a0705;
  background-color: var(--extra-dark-gray);
  color: var(--secondary);
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: -0.02rem;
  overflow: hidden;
}

body {
  display: flex;
}

input, button, textarea {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 2px;
  margin-bottom: 2px;
}

#user, #pass, #pass2 {
  text-align: center;
  width: 180px;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px var(--primary);
}

#navBar {
  width: 50px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  overflow-x: hidden;
  border-right: var(--dark-beige) 2px solid;
  align-items: flex-start;
  transition: all 0.5s;
  padding-left: 8px;
}

#navLogo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  border-radius: 8px;
  margin-bottom: 8px;
  align-self: center;
}

.navText {
  display: none;
  padding-right: 4px;
}

.navIcon {
  padding-right: 8px;
}

#navBar:hover {
  width: 150px;

  & .navlink {
    width: auto;
  }

  & .navText {
    display: block;
  }
}

.navlink {
  color: var(--secondary);
  font-size: 1.3em;
  overflow: hidden;
  padding: 4px;
  white-space: nowrap;
  width: 30px;
}

.navButton, .navButton:link, .navButton:visited, .navButton:hover, .navButton:active {
  display: flex;
  align-items: center;
  height: 24px;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  color: var(--secondary);
  background-color: var(--primary);
  transition: background-color 0.4s ease;
}

.navButton:hover {
  transition: background-color 0.8s ease;
  background-color: var(--extra-dark-gray);
}

#forms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainForm {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-items: center;
}

.mainInput {
  display: flex;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  width: 120px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: var(--primary);
  border-color: var(--dark-beige);
  padding: 3px 0px;
  color: var(--secondary);
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: var(--secondary);
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: var(--dark-beige);
}

.mainInput:disabled {
  background-color: var(--black);
  color: var(--beige);
}

.hidden {
  display: none;
}

#content {
  width: calc(100% - 60px);
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  margin: 16px;
  margin-left: 60px;
  gap: 16px;
  margin-bottom: 0;

}

#makePost {
  margin-bottom: auto;
  background-color: var(--dark-beige);
  padding: 8px;
  border-radius: 6px;
}

#makePost .postInput {
  display: flex;
  width: 100%;
  height: 100px;
}

#makePost textarea {
  display: flex;
  width: 100%;
  height: 100%;
}

#posts {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

#postsHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-radius: 8px;
  overflow-y: scroll;
  gap: 8px;
  background-color: #FFFFFF11;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 8px 16px;
  margin-bottom: 32px;
  overflow-x: hidden;
}

.postCard {
  background-color: var(--dark-beige);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.userLink, .userLink:link, .userLink:visited, .userLink:hover, .userLink:active {
  color: var(--secondary);
}

.postTitle {
  display: flex;
  align-items: flex-end;
}

.postTitle .username, p {
  margin: 0;
}

.postTitle .username {
  margin-right: 4px;
}

.postData {
  border: var(--beige) 1px solid;
  border-radius: 4px;
  background-color: #1e171244;
  padding: 8px;
  margin-top: 8px;
  word-wrap: break-word;
}

.likes {
  display: flex;
  float: right;
  align-items: center;
}

.likeButton {
  aspect-ratio: 1;
  width: 16px;
  cursor: pointer;
  padding: 4px;
  margin-right: 4px;
}

#errorHolder {
  display: flex;
  width: 5px;
  height: 5px;
  justify-content: center;
}

#errorMessage {
  position: absolute;
  font-size: 12pt;
  color: rgb(226, 34, 13);
  margin-top: 8px;
}


#user {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  align-items: flex-start;
  padding: 8px;
  margin-left: 16px;
  border-radius: 8px;
  width: 100%;
}