@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  --primary: #e25e0d;
  --secondary: #ebe8e5;
  --beige: #9a8879;
  --dark-beige: #55473d;
  --extra-dark-gray: #1e1712;
  --black: #0a0705;
  background-color: var(--extra-dark-gray);
  color: var(--secondary);
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: -0.02rem;
  overflow: hidden;
}

body {
  display: flex;
}

input,
button,
textarea,
select {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 2px;
  margin-bottom: 2px;
  font-family: 'Nanum Gothic', sans-serif;
}

#user,
#pass,
#pass2 {
  text-align: center;
  width: 180px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px var(--primary);
}

#navBar {
  width: 50px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  overflow-x: hidden;
  border-right: var(--dark-beige) 2px solid;
  align-items: flex-start;
  transition: all 0.3s;
  padding-left: 8px;
  z-index: 10;
}

#navLogo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  border-radius: 8px;
  margin-bottom: 8px;
  align-self: center;
}

.navText {
  display: none;
  padding-right: 4px;
}

.navIcon {
  padding-right: 8px;
}

#navBar:hover {
  width: 150px;

  & .navlink {
    width: auto;
  }

  & .navText {
    display: block;
  }
}

.navlink {
  color: var(--secondary);
  font-size: 1.3em;
  overflow: hidden;
  padding: 4px;
  white-space: nowrap;
  width: 30px;
}

.navButton,
.navButton:link,
.navButton:visited,
.navButton:hover,
.navButton:active {
  display: flex;
  align-items: center;
  height: 24px;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  color: var(--secondary);
  background-color: var(--primary);
  transition: background-color 0.4s ease;
}

.navButton:hover {
  transition: background-color 0.8s ease;
  background-color: var(--extra-dark-gray);
}

#forms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainForm {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  align-items: center;
}

.mainInput {
  width: 100%;
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
}

label {
  flex: 1;
  text-align: right;
}

.mainInput input {
  flex: 1;
  margin-right: 64px;
}

.mainForm h3 {
  text-align: center;
}

.formSubmit,
button {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 1.2em;
  background-color: var(--primary);
  border-color: var(--dark-beige);
  padding: 3px 4px;
  color: var(--secondary);
  text-decoration: none;
  width: auto;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active,
button:hover,
button:active {
  color: var(--secondary);
}

.formSubmit:hover,
button:hover {
  transition: background-color 0.4s ease;
  background-color: var(--dark-beige);
}

.mainInput:disabled {
  background-color: var(--black);
  color: var(--beige);
}

.hidden {
  display: none;
}

#content {
  width: calc(100% - 60px);
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 100%;
  margin: 16px;
  margin-left: 76px;
  gap: 16px;
  margin-bottom: 0;
}

#postForm {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-beige);
  padding: 8px;
  border-radius: 6px;
  padding-bottom: 32px;
  margin-bottom: 16px;
}

#postForm .postInput {
  display: flex;
  width: 100%;
}

#postForm textarea {
  display: flex;
  width: 100%;
  height: 100px;
}

#postWindowContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.advertisement {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 16px;
}

.advertisement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.advertisement p {
  position: absolute;
  top: 32px;
  text-align: center;
  margin-left: 48px;
  margin-right: 48px;
  background-color: #55473daa;
  padding: 8px;
  border-radius: 6px;
}

#posts {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

#postsHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  overflow-y: scroll;
  gap: 8px;
  background-color: #FFFFFF11;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 8px 16px;
  margin-bottom: 32px;
  overflow-x: hidden;
  mask-image: linear-gradient(180deg, #000 95%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 95%, transparent);
}

.postCard {
  background-color: var(--dark-beige);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.userLink,
.userLink:link,
.userLink:visited,
.userLink:hover,
.userLink:active {
  color: var(--secondary);
}

.postTitle {
  display: flex;
  align-items: flex-end;
}

.postTitle .username,
p {
  margin: 0;
}

.postTitle .username {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: 4px;
}

.postData {
  border: var(--beige) 1px solid;
  border-radius: 4px;
  background-color: #1e171244;
  padding: 8px;
  margin-top: 8px;
  word-wrap: break-word;
}

.likes {
  display: flex;
  float: right;
  align-items: center;
}

.likeButton {
  aspect-ratio: 1;
  width: 16px;
  cursor: pointer;
  padding: 4px;
  margin-right: 4px;
}

#errorHolder {
  display: flex;
  width: 5px;
  height: 5px;
  justify-content: center;
}

#errorMessage {
  position: absolute;
  font-size: 12pt;
  color: rgb(226, 34, 13);
  margin-top: 8px;
}

#userInfoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#userInfo {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  align-items: flex-start;
  padding: 8px;
  border-radius: 8px;
}

#userInfo h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#userTop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#userTop h2 {
  display: flex;
  align-items: center;
  gap: 2px;
}

#userBio {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

#followContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#followTop {
  display: flex;
  width: 100%;
  align-items: center;
}

#followTop p {
  flex: 4;
}

.userButton {
  transition: background-color 0.4s ease;
  text-align: center;
  color: var(--secondary);
  background-color: var(--extra-dark-gray);
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.userButton:hover {
  transition: background-color 0.4s ease;
  background-color: var(--dark-beige);
}

#followList {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 80%, transparent);
  -webkit-mask-image: linear-gradient(90deg, #000 80%, transparent);
  flex: 4;
  gap: 4px;
}

#settingsContainer {
  width: 100%;
}

#settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#settingsName {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
  margin-bottom: 16px;
}

#settings h1 {
  margin: 0;
  font-size: 48pt;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#settingsBio {
  width: 100%;
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--secondary);
  justify-content: center;
}

#settingsBio textarea {
  width: 60%;
  height: 100px;
}

#settingsPrivacy {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--secondary);
  align-items: center;
  gap: 8px;
}

#selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

#selectContainer label {
  flex: 1;
  text-align: right;
}

#selectContainer div {
  flex: 1;
  margin-right: 64px;
}

#privacyDesc {
  font-style: italic;
}

#settingsChange {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--secondary);
}

#settingsPremium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--secondary);
}

#bad {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50%;
}

#badGateway {
  font-size: 18pt;
  width: 60%;
  text-align: center;
}

#infoAdContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

#infoWithAd {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 8px;
}

img {
  background-image: url('img/spinner.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 5%;
}